@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  margin:0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* --------------- TITLE --------------- */

.title_container {
	margin-right: 0;
}

.title_style{
  font-size: 2.5rem;
  text-align: center;
  margin-top: -30%;
  font-family: bold;
}

.description{
  font-size: 1rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: auto;
  margin: 0 auto; 
  
}

a{
  color: white;
} 

.white-link {
  color: white;
}

/* --------------- HEADER NAVIGATION --------------- */

.main-header {
	display: flex;
	flex: 1;
	flex-flow: row wrap;
	justify-content: space-between;
	padding-top: .2em;
	padding-bottom: .2em;
  background-color: black !important;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  
}

.nav-header {
	display: flex;
	padding-top: 1.375em;
	padding-bottom: 1.375em;
  align-items: center;
  justify-content: center;
}

li{
  list-style:none;
  padding-left: 3em;
}

.btn_container{
  display: flex;
  padding-top: 1.375em;
	padding-bottom: 1.375em;
  align-items: center;
  justify-content: center;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.btn_btn_login{
  background-image: linear-gradient(#42A1EC, #0070C9);
  border: 1px solid #0077CC;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  direction: ltr;
  display: block;
  font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.47059;
  min-width: 20px;
  overflow: visible;
  padding: 4px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  margin-left: 5rem;
  touch-action: manipulation;  
}


/* --------------- BANNER  --------------- */

h1{
  align-content: center;
  color: black !important;
}

h2{
  align-items: center;
  color: black !important;
}

.banner {
  width: 100%;
	height: auto;
}

.banner-img {
	position: static;
  width: 100%;
  height: 100%;
}

.banner-container {
  width: auto;
  height: auto;
}

.vg-page {
  position: relative;
  display: block;
  padding: 30px 0;
  width: 100%;
  overflow: hidden;
}

/* --------------- GRID  --------------- */

.package-grid {
  padding-top: 8%;
  width: auto;
  height: auto;
}

.grid {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive grid with minimum column width of 250px */
  gap: 30px; /* Add some gap between grid items */
}

.grid-container {
  width: 100%; /* Adjusted to take full width of the grid */
  height: 300px;
  margin-bottom: 15px; /* Changed to margin-bottom for better spacing */
  text-align: center;
  line-height: 150px;
}

.grid-img {
  height: 80%;
  width: 100%;
  border: 1px solid black;
}

.btn_btn{
  background-image: linear-gradient(#42A1EC, #0070C9);
  border: 1px solid #0077CC;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  direction: ltr;
  display: block;
  font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.47059;
  min-width: 20px;
  overflow: visible;
  padding: 4px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;  
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  padding: 1em;
}

.deals-subtitle{
  font-size: 2rem;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* --------------- ABOUT US  --------------- */

.aboutus-container {
  width: 100%;
  height: auto; /* Change height to auto for responsiveness */
  padding: 50px 20px; /* Add padding for better spacing */
  margin-top: 23%;
}

.text-aboutus {
  margin-top: 1.5em;
  text-align: center;
  font-style: normal;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 20; /* Font weight should be a numerical value */
  width: 85%;
}

.text-container {
  width: 100%; /* Adjusted to take full width */
  height: auto; /* Change height to auto for responsiveness */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Align text vertically */
}

/* Media Query for smaller screens */
@media only screen and (max-width: 768px) {
  .text-container {
    width: 90%; /* Adjust width for smaller screens */
  }
}

/* --------------- MOST POPULAR  --------------- */

.mostpop-container {
  margin-top: 5%;
  padding: 50px 20px;
  height: auto;
  width: 100%;
}

.progressbar-container {
  margin: auto;
  margin-top: 2.5em;
  width: 50%;
  height: auto;
}

.w3-white{
  height: 100%;
}

.w3-container{
  margin-top: 0.5em;
  height: 5%;
  padding: 1em;
  text-align: center;
}

/* --------------- CONTACT US --------------- */

.contactus-container {
  margin-top: 15%;
  padding: 50px 20px;
  height: auto;
  width: 100%;
  position: relative;
  
}

.contact-container {
  width: 50%;
  height: auto;
  margin: 2% auto; /* Centra verticalmente y horizontalmente */
  max-width: 800px; 
  display: flex;
}

.half-container {
  flex: 1;
  padding: 5px;
  align-items: center;
  align-content: center;
}


.form-control {
  height: unset;
  width: 70%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 6px;
  border: 2px solid #c2c6ce;
  font-weight: 500;
  color: black;
  
}

.col-12{
  align-items: center;
  align-content: center;
  padding-top: 0.8em;
  display: flex;
  justify-content: center;
}

.btn_btn-theme {
  background-image: linear-gradient(#7d858b, #5e6266);
  border: 1px solid;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  direction: ltr;
  display: block;
  font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem; /* Tamaño de fuente base */
  font-weight: 400;
  line-height: 1.47059;
  min-width: 100px; /* Ancho mínimo */
  overflow: visible;
  padding: 0.5rem 0.5rem; /* Relleno vertical y horizontal */
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

@media (max-width: 768px) {
  .btn_btn-theme {
    font-size: 0.875rem; /* Reducir tamaño de fuente en pantallas más pequeñas */
    min-width: 80px; /* Reducir ancho mínimo en pantallas más pequeñas */
    padding: 0.5rem 1rem; /* Reducir relleno vertical y horizontal en pantallas más pequeñas */
  }
}

@media (max-width: 576px) {
  .btn_btn-theme {
    font-size: 0.75rem; /* Reducir tamaño de fuente en pantallas aún más pequeñas */
    min-width: 60px; /* Reducir ancho mínimo en pantallas aún más pequeñas */
    padding: 0.25rem 0.75rem; /* Reducir aún más el relleno vertical y horizontal */
  }
}

.button-contact{
  align-items: center;
  align-content: center;
  display: flex;
  justify-content: center;
  padding-top: 0.5em;
}

.contact-img{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.contactus-subtitle{
  font-size: 2rem;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}


/* TRIPS PAGE */
html {
  overflow-x: hidden; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #000;
  background-color: #f4ede5; }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400; }

h1, h2 {
  font-weight: 700; }

.subheading {
  color: #f34949; }

.bg-white {
  background-color: #fff; }


.btn-icon {
  display: inline-flex;
  align-items: center; }
  .btn-icon .lnr {
    font-size: 30px;
    margin-right: 10px; }

.boxed-page {
  position: relative;
  border-color: #ededed;
  background-color: #fff; }
  .boxed-page .section-padding {
    padding-top: 65px;
    padding-bottom: 65px; }
  @media (min-width: 992px) {
    .boxed-page .section-padding {
      padding-top: 130px;
      padding-bottom: 130px; } }

@media (min-width: 1200px) {
  .boxed-page {
    margin: 30px; } }

.img-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.img-cover {
  object-fit: cover;
  object-position: center; }



.hero {
  height: 600px;
  position: relative; }
  @media (min-width: 992px) {
    .hero {
      height: calc(100vh - 130px); } }

.hero-info {
  padding-top: 60px; }
  @media (min-width: 1420px) {
    .hero-info {
      padding-top: 140px; } }
  .hero-info li {
    padding-right: 15px;
    padding-left: 15px; }
  .hero-info .lnr {
    display: block;
    font-size: 32px;
    margin-bottom: 15px; }

.hero-carousel .owl-prev, .hero-carousel .owl-next {
  width: 110px;
  height: 110px; }

.hero-carousel .owl-prev, .hero-carousel .owl-next {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff; }

.hero-carousel .owl-prev {
  border-right: 1px solid #f7f8f9; }

.hero-carousel .owl-nav {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0; }

.hero-carousel .owl-item img {
  height: 600px;
  object-fit: cover;
  max-width: 100%; }
  @media (min-width: 992px) {
    .hero-carousel .owl-item img {
      height: calc(100vh - 130px); } }

.thumb-menu img {
  height: 300px;
  border: 1px solid black;
  width: 100%;
  margin: 0 auto;
  margin-top: 2em;
  border-radius: 3px;
  margin-bottom: 10px;
  box-shadow: 0px 24px 48px -12px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease; }


.heading-section {
  margin-bottom: 30px; }

.trips-container{
  justify-content: left; 
  align-items: left; 
  align-content: left;
  display: flex; 
}

.half-trips-container {
  flex: 1;
  padding: 5px;
  align-items: center;
  align-content: center;
  padding-left: 4em;
}

.sub-title{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.3em;
  
}

.cont-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  width: 100%;
  padding-top: 1em;
}

.cont-subtitle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  width: 100%;
  height: auto;
  padding-top: 1em;
  flex-direction: row; /* Cambiamos a dirección horizontal */
  justify-content: space-between; /* Espacio entre los elementos */ 
}

.half-descrip-container{
  align-content: center;
}

.left-left-side{
  flex:1;
}

.left-right-side{
  flex:2;
}

.right-right-side{
  flex:5;
}

.right-left-side{
  flex:11;
}

.columns {
  width: auto;
  padding: 8px;
  justify-content: center;
}

.price {
  list-style-type: none;
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}


.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
  background-color: #111;
  color: white;
  font-size: 25px;
}

.price li {
  border-bottom: 1px solid black;
  padding: 20px;
  text-align: center;
}

.price .grey {
  background-color: white;
  font-size: 20px;
}

.price .blue{
  background-color: #5072A7;
  font-size: 20px;
}

.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
}

.cont-pricing{
  background-color: #5072A7;
  padding-top: 4em;
  padding-left: 30%;
  padding-right: 30%;
}

.sub-cont-pricing{
  background-color: #5072A7;
}

.title-price{
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  margin: 10px 0;
  color: black;
  font-size: 2em;
}

.sub-title-price{
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  margin: 10px 0;
  color: black;
  font-size: 1em;
}

/* LOGIN PAGE */

.login-first-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.login-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%; /* ajusta el ancho según sea necesario */
  max-width: 35%; /* máximo ancho para asegurar que se vea bien en pantallas grandes */
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.707);
  color: white;
  text-align: center;
  border: 1px solid black;
}

.col-login{
    padding-top: 0.8em;
    justify-content: center;
}

.login-button-contact{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center; /* Alinea horizontalmente al centro */
  padding-top: 0.5em;
  height: unset; /* Restablece la altura */
  padding-top: 10px;
  border-radius: 6px;
}

.login-btn-theme{
  background-image: linear-gradient(#42A1EC, #0070C9);
    border: 1px solid #0077CC;
    border-radius: 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    direction: ltr;
    display: block;
    font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.47059;
    min-width: 20px;
    overflow: visible;
    padding: 4px 15px;
    text-align: center;
    -moz-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 70%; 
}

.register-btn-theme{
  background-image: linear-gradient(#42A1EC, #0070C9);
    border: 1px solid #0077CC;
    border-radius: 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    direction: ltr;
    display: block;
    font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.47059;
    min-width: 20px;
    overflow: visible;
    padding: 4px 15px;
    text-align: center;
    -moz-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%; 
}

.login-banner-img {
	position: static;
  width: 100%;
  min-height: 100%;
}

/* REGISTER PAGE */

.register-left-half-container{
  flex: 1;
  align-content: right;
  text-align: right;
}

.register-right-half-container{
  flex: 4;
  width: 70%;
  padding-right: 2em;
  padding-bottom: 2em;
}

.register-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%; /* ajusta el ancho según sea necesario */
  max-width: 35%; /* máximo ancho para asegurar que se vea bien en pantallas grandes */
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.707);
  color: white;
  text-align: center;
  border: 1px solid black;
}

.register-button-contact{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center; /* Alinea horizontalmente al centro */
  padding-top: 0.5em;
  height: unset; /* Restablece la altura */
  padding-top: 10px;
  border-radius: 6px;
  padding-left: 1em;
}

.flex-container{
  display: flex;
}

.register-title{
  width: 100%;
}

.register-half{
  display: flex;
  flex-direction: column; /* Dividir verticalmente */
}

.register-right{
  flex: 1;
}

.register-left{
  flex: 1;
}

.form-control-register{
  height: unset;
  width: 100%;
  padding-top: 0.2em;
  padding-bottom: 10px;
  border-radius: 6px;
  border: 2px solid #c2c6ce;
  font-weight: 500;
  color: black;
}

.col-register{
  padding-top: 1.8em;
  justify-content: right;
}

.col2-register{
  padding-top: 0.8em;
  padding-left: 1em;
}

.report1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  justify-content: center;
  display: flex;
  margin-top: 1em;
}

.button-report1{
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

/* Estilo para el elemento select */
.dropdown-menu {
  border: 1px solid black; /* Borde de 1px sólido gris */
  background-color: rgba(128, 128, 128, 0.693); /* Fondo blanco */
  border-radius: 0.5em;
  color: #333; /* Color del texto */
  padding: 8px; /* Espaciado interno */
  width: 200px; /* Ancho del elemento */
  font-size: 16px; /* Tamaño de fuente */
  appearance: none; /* Eliminar estilos nativos del navegador */
}

/* Estilo para las opciones del dropdown */
.dropdown-menu option {
  background-color: #fff; /* Fondo blanco */
  color: grey; /* Color del texto */
}

/* Estilo para cuando se selecciona una opción */
.dropdown-menu option:checked {
  background-color: grey; /* Fondo gris claro */
}

#date {
  border: 1px solid black; /* Borde de 1px sólido negro */
  background-color: rgba(128, 128, 128, 0.693); /* Fondo gris */
  border-radius: 0.5em;
  color: #333; /* Color del texto */
  padding: 8px; /* Espaciado interno */
  width: 200px; /* Ancho del elemento */
  font-size: 16px; /* Tamaño de fuente */
}

.date-range-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.date-range-container label {
  margin-bottom: 8px;
}

.date-range-container input[type="date"] {
  border: 1px solid black;
  background-color: rgba(128, 128, 128, 0.693);
  border-radius: 0.5em;
  color: #333;
  padding: 8px;
  width: 200px;
  font-size: 16px;
}

.col-user{
    align-items: center;
    align-content: center;
    padding-top: 0.8em;
    display: flex;
    justify-content: center;
    justify-content: left;
}

.form-user{
    height: unset;
    width: 85%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 6px;
    border: 2px solid #c2c6ce;
    font-weight: 500;
}

.form-user2{
  height: unset;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 6px;
  border: 2px solid #c2c6ce;
  font-weight: 500;
}


/* ADD TRIP PAGE */

.addtrip-container{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  max-width: 65%;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.707);
  color: white;
  text-align: center;
  border: 1px solid black;
}

.cont-addtrip{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding-top: 1em;
  flex-direction: row; /* Cambiamos a dirección horizontal */
}

.left-left-side-trip{
  flex: 1;
  display: flex;
  justify-content: right;
}

.left-right-side-trip{
  flex:1;
  display: flex;
  justify-content: center;
}

.right-right-side-trip{
  flex:1;
  display: flex;
  justify-content: left;
}

.right-left-side-trip{
  flex:1;
  display: flex;
  justify-content: left; /* Alinea el contenido al centro horizontalmente */
}

.button-delete-trip{
  border: 1px solid black !important;
  color: white;
  padding: 10px 25px;
  font-size: 18px;
}

.button-trip {
  background-color: #04AA6D;
  border: 1px solid black !important;
  color: white;
  padding: 10px 25px;
  font-size: 18px;
  width: 150px;
}

.button-add-trip {
  background-color: #04AA6D;
  border: 1px solid black !important;
  color: white;
  padding: 10px 35px;
  font-size: 18px;
  width: 150px;
}

.txtbox-trip {
  flex: 1; /* Hace que el cuadro de texto ocupe todo el espacio disponible */
  width: 100%; /* Establece el ancho al 100% del contenedor padre */
  border-radius: 6px;
  border: 2px solid #c2c6ce;
  font-weight: 500;
  color: black;
  margin-right: 1em; /* Añade un margen derecho para separar los elementos */
}

.col-textbox-container{
  display: flex;
  width: 100%; /* Establece el ancho del contenedor padre */
  height: 100%;
}

.container-options {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: space-between;
}

.half-edit-container {
  flex: 1;
  padding: 5px;
  display: flex; /* Utiliza flexbox para alinear elementos internos */
  justify-content: right; /* Alinea el botón hacia la derecha */
}

.half-create-container {
  flex: 0.4;
  padding: 5px;
  display: flex;
  justify-content: center;
}

.half-delete-container {
  flex: 1;
  padding: 5px;
  display: flex; 
  justify-content: left; /* Utiliza flexbox para alinear elementos internos */
}

.button-edit, .button-create, .button-delete {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  width: 100%; /* Set the width to 100% for responsiveness */
  max-width: 200px; /* Limit the maximum width of the button */
}


/* TABLE */

.cont-table{
  margin-top: 2em;
  width: 100%;
  height: unset;
  background-color: #0070C9;
  display: flex;
  justify-content: center;
}

table {
  border: 1px solid black;
  background-color: white;
  border-collapse: collapse;
}

th, td{
  color: #000;
  border: 1px solid black;
}

.dropdown-addtrip {
  border: 1px solid black; /* Borde de 1px sólido gris */
  background-color: rgb(128, 128, 128); /* Fondo blanco */
  border-radius: 0.5em;
  margin-right: 1em;
  color: black; /* Color del texto */
  width: 100%; /* Ancho del elemento al 100% del contenedor padre */
  max-width: 300px; /* Ancho máximo */
  font-size: 16px; /* Tamaño de fuente */
  appearance: none; /* Eliminar estilos nativos del navegador */
  height: 100%;
}

.dropdown-deletetrip {
  border: 1px solid black; /* Borde de 1px sólido gris */
  background-color: rgb(128, 128, 128); /* Fondo blanco */
  border-radius: 0.5em;
  color: black; /* Color del texto */
  width: 100%; /* Ancho del elemento al 100% del contenedor padre */
  max-width: 300px; /* Ancho máximo */
  font-size: 16px; /* Tamaño de fuente */
  appearance: none; /* Eliminar estilos nativos del navegador */
  height: 100%;
}

/* CREATE TRIP PAGE */

.right-right-side-create-trip{
  flex:1;
}

.cont-createtrip{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding-top: 1em;
  flex-direction: row; /* Cambiamos a dirección horizontal */
}

.left-create{
  flex: 1;
  justify-content: right;
  padding-right: 3em;
  display: flex;

}

.right-create{
  flex: 1.5;
  display: flex;
  justify-content: left;
}

.col-create-textbox-container{
  justify-content: left;
  display: flex;
  height: 100%;
}

.txtbox-create{
  width: 60%;
  border-radius: 6px;
  border: 2px solid #c2c6ce;
  font-weight: 500;
  color: black;
}

.custom-form {
  border: 1px solid black; /* Borde de 1px sólido gris */
  background-color: rgb(128, 128, 128); /* Fondo blanco */
  border-radius: 0.5em;
  padding: 0.5em; /* Espaciado interno relativo */
  width: 80%; /* Ancho del elemento al 100% del contenedor padre */
  max-width: 300px; /* Ancho máximo */
  height: 100%;
}

.custom-input {
  font-size: 16px; /* Tamaño de fuente */
  appearance: none; /* Eliminar estilos nativos del navegador */
  width: 100%; /* Ancho del elemento al 100% del contenedor padre */
}

input {
  margin-top: 1rem;
}

input::file-selector-button {
  color: white;
  padding: 0.5em;
  background-color: grey;
  border-radius: 3px solid black;
  width: 60%;
  
}

.right-create2{
  flex: 1.5;
  display: flex;
  justify-content: left;
}

.create-cont-button {
  list-style-type: none;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  justify-content: left;
  display: flex;
  margin-top: 1em;
}

.cont-categories{
  transition: 0.3s;
  justify-content: left;
  display: flex;
}

.checkbox-categories{
  font-size: 1.2em;
  padding-left: 1em;
}

textarea{
  justify-content: left;
  color: black;
  font: bold 11px arial;
  width: 60%;
}

.createtrip-container{
  position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    max-width: 65%;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.707);
    color: white;
    text-align: center;
    border: 1px solid black;
    padding-top: 2em;
}






